---
import { Image } from "astro:assets";

interface Props {
  sliderTitle: string;
  tag: string;
  cta: string;
  imageURL: any;
  imageAlt: string;
}

const { sliderTitle, tag, cta, imageURL, imageAlt } = Astro.props;
---

<div class="home-slider-item">
  <Image src={imageURL} alt={imageAlt} class="home-slider-item__image" />
  <div class="home-slider-item__info">
    <h2 class="home-slider-item__title">{sliderTitle}</h2>
    <span class="home-slider-item__tag"> {tag}</span>
    <button class="home-slider-item__cta"> {cta}</button>
  </div>
</div>

<style lang="scss">
  .home-slider-item {
    background-color: aqua;

    &__image {
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
      display: flex;
      z-index: 1;
    }

    &__info {
      position: absolute;
      z-index: 2;
      right: 2em;
      top: 20em;
      width: 40%;
      height: auto;
      display: flex;
      flex-flow: column wrap;
      color: white;
    }

    &__title {
      font-size: 3rem;
      font-weight: 800;
    }

    &__tag {
      background-color: #262626;
      padding: 0.3em;
    }
  }
</style>
